.stats-container{
    display: flex;
    .box-stats{
        width: 100%;
        height: 400px;
        text-align: center;
        border: solid $black 1px;
        border-radius: 15px;
        margin: 10px;
        .box-nombre-visite-mois{
            display: flex;
            justify-content: center;
        }
        .box-nombre-visite-jour{
            color: rgb(183, 105, 37);
            font-size: 80px;
            padding-top: 10px;
        }
    }
}